In [ ]:
import pandas as pd
import mysql.connector as connector

In [ ]:
connection = connector.connect(
    host="localhost",
    port="3306",
    user="root",
    password="admin",
    database="world"
)

In [ ]:
df_city = pd.read_sql("SELECT *FROM city;", connection)
df_country = pd.read_sql("SELECT * FROM country;", connection)
df_lang = pd.read_sql("SELECT * FROM countrylanguage;", connection)

In [ ]:
df_city.head()

In [ ]:
df_country.head()

In [ ]:
df_lang.head()

In [ ]:
connection.close()

# Opción 2: Framework SQLAlchemy

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

In [ ]:
url = 'mysql+mysqlconnector://root:admin@localhost:3306/world'
engine = create_engine(url)

In [ ]:
df_city = pd.read_sql("SELECT * FROM city;", engine)
df_country = pd.read_sql("SELECT * FROM country;", engine)
df_lang = pd.read_sql("SELECT * FROM countrylanguage;", engine)

In [ ]:
df_city.head()

# Utilizar columna como índice

In [ ]:
df_city = pd.read_sql("SELECT * FROM city;", engine, index_col='ID')

In [ ]:
df_city.tail()

# Insertar filas en DataFrame

In [ ]:
df_city = pd.read_sql("SELECT * FROM city;", engine)
df_city.tail()

Opción1: loc

#loc permite seleccionar en base al índice explicito

In [ ]:
df_city = pd.read_sql("SELECT * FROM city;", engine)
df_city.tail()

In [ ]:
count = len(df_city.index)
count

In [ ]:
df_city.loc[count] = [None, 'Tomelloso', 'ESP', 'Tomelloso', 5]

In [ ]:

df_city.tail()

# Insertar DataFrame en Base de datos

In [ ]:
df_city.to_sql(name='city2', con=engine, if_exists='append', index=False)

In [ ]:
df_city.to_sql(name='city3', con=engine, if_exists='append', index=True)

# Crear tabla desde Python

Opción 1: mysql connector

In [ ]:
import mysql.connector as connector

In [ ]:
connection = connector.connect(
    host="localhost",
    port="3306",
    user="root",
    password="admin",
    database="world"
)

cursor = connection.cursor()

sql = """ 
    CREATE TABLE IF NOT EXISTS city2 (
        `ID` BIGINT AUTO_INCREMENT PRIMARY KEY,
        Name char(35) NOT NULL DEFAULT '',
        CountryCode char(3) NOT NULL DEFAULT '',
        District char(20) NOT NULL DEFAULT '',
        Population int NOT NULL DEFAULT '0',
        FOREIGN KEY (CountryCode) REFERENCES country (Code)
    );
"""
cursor.execute(sql)
connection.commit()
cursor.close()
connection.close()

In [ ]:
df_city = pd.read_sql("SELECT * FROM city;", engine, index_col='ID')
df_city.head()

In [ ]:
# borrar columna
# df_city.drop('ID', axis=1)

In [ ]:
df_city.to_sql(name='city2', con=engine, if_exists='append', index=True)